.addLocationMoodle
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: fit-content;
    width: fit-content;
    min-height: 50px;
    min-width: 200px;

    background-color: lightskyblue;
    padding: 1%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 50;
}
.addLocationManualContent{
    min-height: 250px;
    min-width: 450px;
    margin-bottom: 5%;
}

.addLocationButton
{
    text-align: center;
    width: 200px;
    height: 40px;
}
.addLocationBackButton
{
    margin-top: 15px;
}

.note
{
    font-size: 10px;
    font-style: italic;
}
.disabled
{
    cursor: not-allowed;
    opacity: 0.6;
}
.title-spacing
{
    margin-bottom: 20px;
}
#manualButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}
#manualClose{
    position: absolute;
    left: 3%;
    bottom: 3%;
}