.color-display{
    border-radius: 50px;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
#green{
    background-color: green;
}
#yellow{
    background-color: rgb(210, 181, 33);
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#purple{
    background-color: purple;
}
#maroon{
    background-color: maroon;
}
#AQI-label{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.smaller-font{
    font-size: 12px;
}