@font-face {
    font-family: Nunito;
    src: url(../Fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

.disabled {
    opacity: 0.5;
}

.disabled:hover {
    transform: scale(1);
    cursor: not-allowed;
}

.menuBar {
    position: fixed;
    left: 0;
    top: 0;

    min-height: 60px;
    width: 100%;

    display: flex;
    justify-content: right;
    flex-direction: row;

    background: linear-gradient(0deg, rgba(69, 123, 157, 0.5) 0%, rgba(69, 123, 157, 0.5) 40%, rgba(86, 140, 174, 1) 100%);
    z-index: 100;
}
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.tabName {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
}

.tabContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    opacity: 1;
}

html {
    font-family: Nunito;
    background: url('../Media/clouds2.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    padding-top: 60px;
}

#greeting {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.errmsg {
    color: red;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.border {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.border-no-shadow{
    border-radius: 5px;
}

#left-positioned-menuBar-elements {
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: row;

    height: 100%;
    width: fit-content;

    justify-content: center;
}

#home-button {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.optionsButtons {
    display: flex;
    border-width: 0;
    font-family: Nunito;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 5px;

}

.optionsButtons:hover {
    background-color: lightskyblue;
    transition: .3s;
    cursor: pointer;
}

.alert-message {
    position: fixed;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flex-center-align{
    display: flex;
    justify-content: center;
    align-items: center;
}