@font-face {
    font-family: Nunito;
    src: url(../Fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

.menuBar
{
    position: fixed;
    left: 0;
    top: 0;

    min-height: 60px;
    width: 100%;

    display: flex;
    justify-content: right;
    flex-direction: row;

    background-color: #457b9d;

    z-index: 100;
}

.menuBarFill
{
    position: static;
    left: 0;
    top: 0;

    min-height: 60px;
    width: 100%;


}
.tabName
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
}

.tabContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    opacity: 1;
}

.html,body
{
    font-family: Nunito;
}

#greeting
{
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    font-size: 20px;
}
#logout
{
    cursor: pointer;
}
.offscreen
{
    position: absolute;
    left: -10000px;
}
.errmsg
{
    color: red;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.border{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1px;
    border: 1px solid lightgray;
}