.location-data-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#location-data-display {
    position: relative;
    height: 200%;
    min-width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    background: linear-gradient(0deg, rgba(250, 250, 250, 0.3) 80%, rgba(250, 250, 250, 0.3) 100%);
    border: none;
}

#location-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    gap: 5px;
}

#location-name {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

#precip {
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 100%;
}

#top-row-left-data {
    width: 100%;
    gap: 5px;
}

#top-row-right-data {
    height: 100%;
    width: 50%;
    gap: 5px;
}

#top-row-other-data>div {
    float: left;
}

#today-phrase-and-precip {
    margin-left: 5%;
}

#AQI,
#humidity {
    height: 100%;
    width: 100%;
    padding-top: 11.5%;
    padding-bottom: 11.5%;
}

#pollution {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.5%;
}

#temperature {
    font-size: 75px;
    text-align: center;
}

#other-weather-data {
    display: flex;
    flex-direction: row;
}

#label {
    text-align: center;
}

.weather-panel-seperation {
    margin-bottom: 10px;
}

.other-weather-data-entry {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    height: 100%;
}

#other-weather-data {
    width: 100%;
    gap: 5px;
}

.favorites-button {
    position: absolute;
    top: 0;
    right: 0;
    transition: 0s;

    border-radius: 10px;
    margin: 5px;
}

.favorites-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.favorites-button-disabled {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;

    border-radius: 10px;
    margin: 5px;
}

.favorites-button-disabled:hover {
    cursor: not-allowed;
}

#five-day-forecast {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

#individual-forecast-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    max-width: 96px;
}

#hourly-arrow-container {
    position: absolute;

    height: 152px;
    width: 580px;

}

#hourly-arrow-right {
    position: absolute;
    top: 50%;
    right: -35px;

    height: 30px;
    width: 30px;

    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

#hourly-arrow-right:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

#hourly-arrow-left {
    position: absolute;
    top: 50%;
    left: -15px;

    height: 30px;
    width: 30px;

    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

#hourly-arrow-left:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

#hourly-forecast-container {
    display: flex;
    flex-direction: row;
}

#hourly-forecast {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
    width: 600px;
}

#individual-forecast-hour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    border-color: lightgray;
    border-width: 1px;
    border-style: solid;

    min-width: 95px;

    transition: 1s;
}

#hourly-time {
    border-bottom: solid 2px lightgray;
    height: 100%;
    width: 100%;
}

#hourly-phrase {
    white-space: nowrap;
    font-size: 12px;
}

.last-half {
    transform: translateX(-560px);
}

#temp-min-max {
    display: flex;
    flex-direction: column;
}

.weather-panel {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #e8e8e8;
}

#today-temp-label {
    display: flex;
    text-align: center;
    justify-content: center;
}

#last-updated {
    margin-bottom: 1%;
}

#individual-forecast-weather-date{
    text-align: center;
    border-bottom: solid 2px lightgray;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

#forecast-container {
    height: 100%;
    width: 100%;
}

#data-formatting-container {
    width: 600px;
    gap: 5px;
}

#last-updated {
    white-space: nowrap;
    gap: 5px;
}