.locationsMainPage
{
    display: flex;
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;

    margin: 0;
    min-width: 500px;
    max-width: 100%;
    width: 100%;
}
.locationsContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;

    justify-content: center;
    align-items: center;
}

.locationsOptionsArea{
    background-color: whitesmoke;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;

    min-height: 50px;
    max-height: 50px;
    
}
.locationsList{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}
.location
{
    position: relative;
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
    z-index: 0;
}
.location:hover
{
    background-color: gainsboro;
    cursor: pointer;
}

.iconOptions{
    position: absolute;
    top: 0;
    right: 0;
}
.optionsButtons{
    display: flex;
    border-width: 0;
    font-family: Nunito;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 5px;

}
.optionsButtons:hover{
    background-color: lightskyblue;
    transition: .3s;
    cursor: pointer;
}

.button-selected{
    background-color: lightskyblue;
}
.deletion-selected{
    background-color: lightcoral;
}

.checkbox-position{
    position: absolute;
    top: 0;
    left: 0;
}

.confirm-location-delete
{
    position: fixed;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background-color: red;

    border-color: darkred; 
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    text-align: center;
    white-space: nowrap;

    font-size: 20px;

    height: fit-content;
    width: fit-content;

    min-width: 175px;
    min-height: 25px;

    max-width: 200px;
    max-height: 25px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.confirm-location-delete:hover{
    background-color: rgb(255, 42, 42);
    cursor: pointer;
}

