.location-data-container{
    display: flex;
    justify-content: center;
}
#location-data-display{
    height: 100%;
    width: fit-content;

    max-width: 75%;
    min-width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    /* background: linear-gradient(0deg,#F2F2F2 80%, #F2F2F2 100%);  */
}
#location-data{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 5%;
    margin-top: 1%;
    
}
#location-name{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    margin-top: 3%;
}
#weather{
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    margin-left: 1%;

    padding: 5%;

    background-color: #FEFEFE;
}

#temperature{
    font-size: 75px;
    text-align: center;
}
#other-weather-data{
    display: flex;
    flex-direction: row;
}
#pollution{
    margin-right: 1%;
    margin-left: 1%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 5%;
    background-color: #FEFEFE;
}
#AQI{
    font-size: 75px;
    text-align: center;
}
#AQI-label{
    text-align: center;
}

#other-weather-data{
    font: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.other-weather-data-entry{
    margin: 2%;
    margin-bottom: 0;
    margin-top: 0;
    white-space: nowrap;
}