.dropdownBorder{

    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;

}
.queryResult{
    margin-bottom: 1%;
}

.queryResult:hover{
    background-color: lightblue;
    cursor: pointer;
}
#location-search{
    border: 1px solid lightgray;
    border-radius: 2px;
    width: 100%;
    height: 100%;
}
#location-search-container{
    z-index: 51; /*One more than the locations on the page */

    display: block;

    width: 300px;

    height: 50%;
    transform: translateY(50%);
    margin-right: 1em;
}

