/* Tooltip container */
.tooltip {
  position: relative;
  display: flex;
  align-items: center;
}
/* Tooltip text */
.tooltip-text {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  top: 20px;

  z-index: 51;

  width: fit-content;
  min-width: 200px;
  height: fit-content;

  white-space:normal;

  padding: 15px;

  transition: ease-in-out 0.3s;

  transform: translateX(-50%);
  
}
.hidden{
  visibility: hidden;
}
.visible{
  visibility: visible;
}
.tooltip-color{
  background-color: rgb(192, 204, 213);
}
.tooltip-label{
  border-bottom: 2px solid darkgray;
}